/* #region Defaults settings */
html {
    height: 100%;
}

:root {
    --site-max-width: 1800px;

    /* Colors */
    --light-cream: #faeade;
    --brown: #523122;
    --light-brown: #8c5e4a;

    /* Typography */
    --font-xs: 0.6rem;
    --font-sm: 0.8rem;
    --font-base: 1rem;
    --font-lg: 1.2rem;
    --font-xl: 1.5rem;
}
/* #endregion */

/* #region Layout */
body {
    background-color: var(--light-cream);
    max-width: var(--site-max-width);
    margin: 0 auto;
}

/* #endregion */

/* #region Navbar */
.navbar>.container-fluid {
    max-width: 1800px;
    margin: 0 auto;
    background-color: var(--light-cream);
}

.navbar-nav {
    background-color: var(--light-cream);
}

.text-dark {
    transition: font-weight 0.3s ease;
}

.text-dark:hover,
.text-dark:focus {
    font-weight: bold;
}

.cart-badge {
    background-color: var(--light-brown);
    color: white;
    font-size: var(--font-xs);
}

/* #endregion */

/* #region Forms */

/* Country select field */
select:invalid,
select option[value=""] {
    color: #aab7c4 !important;

}

select:has(option[value=""]:checked) {
    color: #aab7c4 !important;
}

/* Placeholder colors */
input::placeholder,
textarea::placeholder {
    color: #aab7c4 !important;
    opacity: 1;
}

.county-field,
.county-field::placeholder {
    color: #aab7c4 !important;
    opacity: 1;
}

/* Input fields for checkout forms */
#payment-form .form-control,
#card-element{
    color: #000000;
    border: 1px solid #000000;
}
/* #endregion */

/* #region Buttons */

.shop-now-button,
.view-details-btn,
.btn-detail-page,
.btn-see-other,
.checkout-btn,
.delete-btn,
.update-profile-btn,
.complete-order-btn,
.continue-shopping-btn{
    background-color: var(--brown);
    color: white;
    width: 80%;
    border: none;
    transition: background-color 0.3s ease;
}

.shop-now-button:hover,
.view-details-btn:hover,
.btn-detail-page:hover,
.btn-see-other:hover,
.checkout-btn:hover,
.delete-btn:hover,
.update-profile-btn:hover,
.complete-order-btn:hover,
.continue-shopping-btn:hover {  
    background-color: var(--light-brown);
    color: white;
    transition: background-color 0.3s ease;
    border: none;
}

#submit-button:disabled {
    background-color: var(--light-brown) !important;
    color: white !important;
    border: none !important;
}

.btn-quantity,
.btn-quantity-cart {
    border: 2px solid var(--brown) !important;
}

.btn-quantity {
    width: 80%;
}

.btn-quantity-cart .btn,
.btn-quantity-detail {
    border: none !important;
}

.delete-btn {
    min-width: 75px;
}


/* #endregion */

/* #region Toast */

.toast {
    max-width: 300px;
    z-index: 9999;
    border: none;
    box-shadow: none;
}

.bag-preview-wrapper {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #endregion */

/* #region product detail */

/* Product icon */
.product-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* Nutritional table */
.table {
    --bs-table-bg: transparent;
    --bs-table-border-color: #000000;
}

/* #endregion */

/* #region Cart page */

/* Free delivery banner */
.free-delivery-banner {
    background-color: #f0a500;
}

.cart-product-name,
.cart-product-price,
.delete-btn,
.btn-quantity-cart,
.quantity-value-cart {
    font-size: var(--font-sm);
}

/* #endregion */

/* #region Footer images container */
.footer-images {
    position: relative;
    height: 200px;
}

/* Footer images */
.footer-img {
    width: 140px;
    position: absolute;
}

.footer-img-left {
    transform: rotate(-10deg);
    left: calc(50% - 120px);
    top: 20px;
}

.footer-img-right {
    transform: rotate(8deg);
    left: calc(50% - 20px);
    top: 80px;
}

/* #endregion */