<!-- Account dropdown -->
<div class="dropdown">
    <a href="#" class="text-dark" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-regular fa-circle-user fa-lg"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <li><a href="" class="dropdown-item">Products Management</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="#">My Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
        <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
    </ul>
</div>

<!-- Cart -->
<a href="{% url 'cart' %}" class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link">
    <i class="fa-solid fa-cart-shopping fa-lg"></i>
    <p class="my-0">
        {% if grand_total %}
        <span class="badge bg-info text-white">{{ cart_items_count }}</span>
        {% endif %}
    </p>
</a>

<!-- Burger button -->
<button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>