{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

{% if token_fail %}

<div class="p-4">
    <div class="text-center mb-4">
        <i class="fa-solid fa-triangle-exclamation fa-3x mb-3 text-light-brown"></i>
        <h1 class="logo-font text-h2 text-uppercase mb-1">{% trans "Bad Token" %}</h1>
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-muted text-sm">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a class="links" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <a class="btn-milky btn rounded-pill py-2 text-uppercase w-100 fw-bold text-center d-block" href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
        </div>
    </div>
</div>

{% elif form %}

<div class="p-4">
    <h1 class="logo-font text-h2 text-uppercase mb-1">{% trans "Change Password" %}</h1>
    <p class="text-muted text-sm mb-4">{% trans "Choose a new password for your account." %}</p>

    <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <button type="submit" name="action" class="btn-milky-gold btn rounded-pill py-2 text-uppercase w-100 fw-bold mb-2 mt-2">{% trans "Change Password" %}</button>
                <a class="btn-milky btn rounded-pill py-2 text-uppercase w-100 fw-bold text-center d-block" href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
            </div>
        </div>
    </form>
</div>

{% else %}

<div class="p-4">
    <div class="text-center mb-4">
        <i class="fa-solid fa-circle-check fa-3x mb-3 text-light-brown"></i>
        <h1 class="logo-font text-h2 text-uppercase mb-1">{% trans "Change Password" %}</h1>
        <p class="text-muted text-sm">{% trans "Your password is now changed." %}</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <a class="btn-milky btn rounded-pill py-2 text-uppercase w-100 fw-bold text-center d-block" href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}